/*Colores
    #d3e2fe azure #4472C4 #528AEB #95B3E6
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #95B3E6;
}
.main{
    width: 100% fit-content;
}
.h1{
    text-align: center;
    height: 60px;
    width: 70vw;
    padding: 10px;
    margin: 20px auto;
    box-sizing: border-box;
    background: linear-gradient(to right,#4472C4,#497BD1,#5793FA);
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    border:3px solid black;
    box-shadow: 5px 5px 10px #716d6d;
    font-weight: 900;
}
.nav_1{
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}
.lista{
    text-align: center;
    padding: 10px;
    margin: 2px;
    margin-bottom: 10px;
}
a{
    text-decoration: none !important;
    position: relative !important;
    top: 2px !important;
}
a:link, a:visited, a:hover, a:active{
    color: #000;
}
.lista > li{
    background: linear-gradient(to right,#4472C4,#497BD1,#5793FA);
    margin-left: 10px;
    margin-right: 10px;
    width: 158px;
    height: 50px;
    padding: 10px;
    border:3px solid black;
    border-radius: 10px;
    list-style: none;
    display: inline-block;  
    font-family: 'Raleway', sans-serif; 
    box-shadow: 5px 5px 10px #716d6d;
    font-weight: 600;
    font-size: 16px;
}
.lista > li:hover{
    background: #528AEB;
}
.section_fp{
    width: 70vw;
    background: azure;
    margin: 0 auto;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #716d6d;
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    margin-top: 20px;
    position: relative !important;
}
button, .container_datos{
    display: inline-block !important;
}
.boton_guardar{
    width: 10%;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #716d6d;
    font-size: 16px;
    background: linear-gradient(to right,#4472C4,#497BD1,#5793FA);
    font-family: 'Raleway', sans-serif; 
    font-weight: 900;
    border: 3px solid black;
}
.boton_guardar:hover{
    background: #528AEB;
}
.boton_1{
    background: linear-gradient(to right,#4472C4,#497BD1,#5793FA);
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 5px #716d6d;
    margin-left: 15px;
    font-size: 18px;
    position: relative;
    left: 10%;
    border: 3px solid black;
}
.boton_1:hover{
    background: #528AEB;
}
.container_datos{
    position: relative;
    left: 2%;
    font-size: 18px;
    margin-left:15px ;
}
.section_vg{
    font-size: 18px;
    width: 90vw;
    height: auto;
    padding: 20px;
    margin: 30px auto;
    background-color: azure;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #716d6d;
    position: relative; 
    font-family: 'Raleway', sans-serif;   
}
.caja_opcion{
    text-align: center;
    width: 23%;
    height: auto ;
    background-color: #d3e2fe;
    line-height: 1.6;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #716d6d;
    display: inline-block;
}
.caja_opcion > div > p{
    font-weight: 700;
    margin-top: 5px;
}
.caja_opcion > div > input{
    margin-right: 10px;
}
.caja_datosp{
    text-align: center;
    width: 72%;
    background: linear-gradient(to right,#4472C4,#497BD1,#5793FA);
    border: 3px solid black;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #716d6d;
    display: block;
    position: absolute;
    font-size: 20px;
    left: 350px;
    top: 25px;

}
.caja_datosp1{
    text-align:center;
    width: 72%;
    background-color: #d3e2fe;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #716d6d;
    position: absolute;
    font-size: 20px;
    left: 350px;
    top: 105px;
    display: block;
    border: 3px solid black;
}
.form_u{
    margin:30px auto;
    display:block;
    align-items: center;
    text-align: justify;
    box-shadow: 5px 5px 5px #716d6d;
    padding: 10px;
    border-radius: 20px;
    background-color: #d3e2fe;
}
.formulario{
    width: 200px;
    display: inline-block;
    text-align: center;
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.formulario > label{
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}
.formulario > input{
    margin:0  auto;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    background-color: #d3e2fe;
    padding: 0 15px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 16px;
    outline: none;
}
.sec_photo{
    margin:0 auto;
    margin-bottom: 30px;
    display:block;
    box-shadow: 5px 5px 5px #716d6d;
    padding: 30px;
    border-radius: 20px;
    background-color: #d3e2fe;
    width: 100%;
}
.info_r{
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    width: 70%;
    background: linear-gradient(to right,#4472C4,#497BD1,#5793FA);
    border: 3px solid black;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #716d6d;
    display: block;
    font-size: 24px;  
    font-weight: 700; 
}
.paciente_card{
    background-color: azure;
    width: 280px;
    height: 280PX;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #716d6d;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 5vw;
}
.paciente_card > .profilepic{
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
.paciente_card > .profilepic:hover{
    background: #528AEB;
    border-radius: 50%;   
}
.container_p{
    display: inline-block;
    width: 75%;
    margin-left: 30px;
    
}
.formulario_p{
    position: inherit;
    width: 200px;
    display: block;
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.formulario_p > label{
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    
}
.formulario_p > input{
    margin:0 auto;
    margin-bottom: 50px;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    background-color: #d3e2fe;
    padding: 0 15px;
    padding-bottom: 2px;
    font-size: 16px;
    width: 55vw;
    outline: none;
}
.container_firma{
    width: 100%;
    display: block;
    align-items: center;
}
.firma{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    left: 20%;
}
.firma > label{
    display: block;
    margin-top:10px;
}
.firma > input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    background-color: azure;
    width: 200px;
    outline: none;
    text-align: center;
    padding: 5px;
}

/*footer*/

.container_f{
    max-width: 1200px;
    margin:0 auto;
    align-items: center;
}
.footer{
    background-color:#24262B;
    padding: 80px 0;

}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;
    text-align: center;
    position: relative;
    left: 10%;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
    background-color: inherit;
}
.footer-links h4{
    font-size: 20px;
    color:#FFFF;
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500;
    border-bottom: 2px solid #4179D9;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color:#BBBBBB;
    display:block;
    margin-bottom: 15px;
    transition: all .3 ease;
    font-family: 'Raleway', sans-serif; 
}
.footer-links ul li a:hover{
    color:azure;
    padding-left: 6px;
}
.redes{
    background-color: inherit;
    font-family: 'Raleway', sans-serif; 
}
.redes a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #4179D9;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:azure;
    transition: all .5s ease;
}
.redes a:hover{
    background-color:azure;
    color:#4179D9;
}
.pf{
    display: inline-block;
    color:#BBBBBB;
}
.footer-links > ul{
    list-style: none;   
}

/*Citas*/

.section_cita{
    font-size: 18px;
    width: 90vw;
    height: auto;
    padding: 20px;
    margin: 30px auto;
    background-color: azure;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #716d6d;
    position: relative; 
    font-family: 'Raleway', sans-serif;   
}
.card_paciente{
    background-color: #d3e2fe;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: auto;
    display: inline-block;
    box-shadow: 5px 5px 5px #716d6d;
    position: relative; 
    
}
.card_paciente > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f5f8fb;
    align-items: center ;
    display: inline-block;
    margin: 5px;
    position: relative;
    left: 20%;
}
.card_paciente > p{
    display: inline-block;
    position: absolute;
}
.cont_p{
    display: inline-block;
    top: 20px;
    text-align: center;
    width:350px;
    margin: 0 auto;
}

/*Examenes*/

.section_exam{
    font-size: 18px;
    width: 90vw;
    height: auto;
    padding: 20px;
    margin: 30px auto;
    background-color: azure;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #716d6d;
    position: relative; 
    font-family: 'Raleway', sans-serif;   
}
.exam{
    width: 85vw;
    height: 250px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #716d6d;
    background-color: #d3e2fe;

}
.exam > img{
    display: inline-block;
    width: 150px;
    height: 190px;
    margin: 20px;
}
.cont_p2{
    display: inline-block;
    width: 70vw;
    height: 200px;
    margin: 10px;
    position: absolute;
    line-height: 1.8;
    text-align: justify;
    font-size: 20px;
    padding: 10px;
    padding-right: 20px;
}
.titulo_e{
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    width: auto;
    border-bottom:3px solid #4179D9;
}
.info_e{
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    width: 70%;
    background: linear-gradient(to right,#4472C4,#497BD1,#5793FA);
    border: 3px solid black;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #716d6d;
    display: block;
    font-size: 24px;  
    font-weight: 700;
    
}
