<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Cirugías</title>
</head>
<body>
    <h1 class="h1">Cirugías</h1>
    <header class="header">
        <nav class="nav_1">
            <ul class="lista">
                <li class="pag"><a href="../index.html">Ficha paciente</a></li>
                <li class="pag"><a href="./cirugia.html">Cirugias</a></li>
                <li class="pag"><a href="./citas.html">Citas</a></li>
                <li class="pag"><a href="./examenes.html">Exámenes</a></li>
                <li class="pag"><a href="./hclinica.html">Realizar Informe</a></li>
                <li class="pag"><a href="./recetas.html">Recetas</a></li>
            </ul>  
        </nav>
    </header>
    <main class="main">
        <section class="section_exam">
            <div class="info_e">
                <h3>HISTORIAL DE CIRUGÍAS</h3>
            </div>
            <div class="exam">
                <img src="../assets/img/cirugias.png" alt="cirugias" class="cirugia_img">
                <div class="cont_p2">
                    <p class="titulo_e"><b>Reducción abierta de fractura con fijación interna, fémur</b></p>
                    <p>La cirugía reducción abierta con fijación interna se utiliza para estabilizar y consolidar un hueso roto. Este procedimiento podría ser necesario para tratar una fractura del hueso del muslo (fémur).</p>
                </div>
            </div>
            <div class="exam">
                <img src="../assets/img/cirugias.png" alt="cirugias" class="cirugia_img">
                <div class="cont_p2">
                    <p class="titulo_e"><b>Laparotomía exploradora</b></p>
                    <p>La exploración quirúrgica del abdomen o laparotomía exploratoria se recomienda para diagnosticar una enfermedad abdominal que no es posible por otros métodos o cuando hay una lesión en el abdomen causada por una herida con arma de fuego o cortante, o un trauma contundente.</p>
                </div>
            </div>
            <div class="exam">
                <img src="../assets/img/cirugias.png" alt="cirugias" class="cirugia_img">
                <div class="cont_p2">
                    <p class="titulo_e"><b>Salpingooforectomía unilateral.</b></p>
                    <p>Cirugía para extirpar el ovario y la trompa de Falopio de un lado del cuerpo. Histerectomía. Se extirpa el útero mediante cirugía junto con otros órganos o tejidos o sin estos.</p>
                </div>
            </div>
            <div class="exam">
                <img src="../assets/img/cirugias.png" alt="cirugias" class="cirugia_img">
                <div class="cont_p2">
                    <p class="titulo_e"><b>Reparación unilateral de hernia inguinal.</b></p>
                    <p>El cirujano hace una incisión cerca de la hernia. Se localiza la hernia y se separa de los tejidos a su alrededor. Se extirpa el saco de la hernia o esta se reintroduce suavemente dentro del abdomen. Posteriormente, el cirujano cierra los músculos abdominales debilitados con puntos de sutura.</p>
                </div>
            </div>
        </section>
        
    </main>
    <footer class="footer">
        <section class="container_f">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Compañía</h4>
                    <ul>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Servicios</a></li>
                        <li><a href="">Politica de privacidad</a></li>
                        <li><a href="">Afiliados</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="">Soporte</a></li>
                        <li><a href="">Estatus</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="redes">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <p class="pf">Derechos reservados 2023 | En desarrollo</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>