<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Exámenes</title>
</head>
<body>
    <h1 class="h1">Exámenes</h1>
    <header class="header">
        <nav class="nav_1">
            <ul class="lista">
                <li class="pag"><a href="../index.html">Ficha paciente</a></li>
                <li class="pag"><a href="./login.html">Login</a></li>
                <li class="pag"><a href="./citas.html">Citas</a></li>
                <li class="pag"><a href="./examenes.html">Exámenes</a></li>
                <li class="pag"><a href="./hclinica.html">Historia Clinica</a></li>
                <li class="pag"><a href="./recetas.html">Recetas</a></li>
            </ul>  
        </nav>
    </header>
    <main class="main">
        <section class="section_exam">
            <div class="exam">
                <img src="../assets/img/pruebamed.png" alt="examen" class="exam_img">
                <p>Analisis de funcion renal</p>
                <p>Las pruebas renales se usan para ver qué tan bien están funcionando sus riñones. Estas incluyen pruebas de sangre, orina y de imagen. Por lo general, la enfermedad renal en etapa temprana no muestra signos o síntomas.</p>
            </div>
            <div class="exam">
                <img src="../assets/img/pruebamed.png" alt="examen" class="exam_img">
                <p>Perfil hepático</p>
                <p>Grupo de pruebas o exámenes diagnósticos de laboratorio clínico, solicitadas generalmente de manera conjunta, para determinar el estado del metabolismo de los lípidos corporales, comúnmente en suero sanguíneo.</p>
            </div>
            <div class="exam">
                <img src="../assets/img/pruebamed.png" alt="examen" class="exam_img">
                <p>Analisis de niveles de vitaminas</p>
                <p>El Análisis de Vitaminas General es un análisis clínico que permite evaluar los niveles de las vitaminas básicos para garantizar una buena salud.</p>
            </div>
            <div class="exam">
                <img src="../assets/img/pruebamed.png" alt="examen" class="exam_img">
                <p>Hemograma completo - Hematología</p>
                <p>La hematología es el estudio de la sangre y sus desórdenes. Los hematólogos y los hematopatólogos son proveedores de atención médica altamente calificados que se especializan en la sangre y los componentes de la sangre, incluyendo las células de la sangre y las de la médula ósea.</p>
            </div>
        </section>
        
    </main>
    <footer>
        <section class="container">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Compañía</h4>
                    <ul>
                        <li><a href="">Nostros</a></li>
                        <li><a href="">Servicios</a></li>
                        <li><a href="">Politica de privacidad</a></li>
                        <li><a href="">Afiliados</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="">Soporte</a></li>
                        <li><a href="">Estatus</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="redes">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <p class="pf">Derechos reservados 2023 | En desarrollo</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>