<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Historia Clínica</title>
</head>
<body>
    <h1 class="h1">Historia Clínica</h1>
    <header class="header">
        <nav class="nav_1">
            <ul class="lista">
                <li class="pag"><a href="../index.html">Ficha paciente</a></li>
                <li class="pag"><a href="./login.html">Login</a></li>
                <li class="pag"><a href="./citas.html">Citas</a></li>
                <li class="pag"><a href="./examenes.html">Exámenes</a></li>
                <li class="pag"><a href="./hclinica.html">Historia Clinica</a></li>
                <li class="pag"><a href="./recetas.html">Recetas</a></li>
            </ul>  
        </nav>
    </header>
    <main class="main">
        <section class="section_hc">
            <div class="container_informe">
                <label for="informe1" class="input_informe">Informe</label>
                <input type="text" name="informe1" class="input_informe">
            </div>
            <div class="container_informe2">
                <img src="../assets/img/medicamento.jpg" alt="medicina" class="med_img">
                <label for="informe2" class="input_informe2">Se receta</label>
                <input type="text" name="informe2" class="input_informe2">
            </div>
            <div class="container_informe3">
                <img src="../assets/img/pruebamed.png" alt="examen" class="exam_img">
                <label for="informe3" class="input_informe3">Examenes</label>
                <input type="text" name="informe3" class="input_informe3">
            </div>
            <button type="button" class="boton_1"><i class="fa-solid fa-plus"></i></button>
        </section>
        
    </main>
    <footer class="footer">
        <section class="container_f">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Compañía</h4>
                    <ul>
                        <li><a href="">Nostros</a></li>
                        <li><a href="">Servicios</a></li>
                        <li><a href="">Politica de privacidad</a></li>
                        <li><a href="">Afiliados</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="">Soporte</a></li>
                        <li><a href="">Estatus</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="redes">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <p class="pf">Derechos reservados 2023 | En desarrollo</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>