<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Recetas</title>
</head>
<body>
    <h1 class="h1">Recetas</h1>
    <header class="header">
        <nav class="nav_1">
            <ul class="lista">
                <li class="pag"><a href="../index.html">Ficha paciente</a></li>
                <li class="pag"><a href="./cirugia.html">Cirugias</a></li>
                <li class="pag"><a href="./citas.html">Citas</a></li>
                <li class="pag"><a href="./examenes.html">Exámenes</a></li>
                <li class="pag"><a href="./hclinica.html">Realizar Informe</a></li>
                <li class="pag"><a href="./recetas.html">Recetas</a></li>
            </ul>  
        </nav>
    </header>
    <main class="main">
        <section class="section_med">
            <div class="info_e">
                <h3>HISTORIAL DE RECETAS</h3>
            </div>
            <div class="medi">
                <img src="../assets/img/medicamento.png" alt="medicina" class="med_img">
                <div class="cont_p2">
                    <p class="titulo_e"><b>Loratadina</b></p>
                    <p>La loratadina se utiliza para aliviar temporalmente los síntomas de la fiebre del heno (alergia al polen, al polvo o a otras sustancias presentes en el aire) y otras alergias.</p>
                </div>
            </div>
            <div class="medi">
                <img src="../assets/img/medicamento.png" alt="medicina" class="med_img">
                <div class="cont_p2">
                    <p class="titulo_e"><b>Ibuprofeno</b></p>
                    <p>El ibuprofeno es un antiinflamatorio no esteroideo, utilizado frecuentemente como antipirético, analgésico y antiinflamatorio.</p>
                </div>
            </div>
            <div class="medi">
                <img src="../assets/img/medicamento.png" alt="medicina" class="med_img">
                <div class="cont_p2">
                    <p class="titulo_e"><b>Desloratadina</b></p>
                    <p>Desloratadina es un fármaco antihistamínico prescrito para tratar los síntomas del resfriado y las reacciones alérgicas; tales como, estornudos, picazón, congestión nasal, ojos llorosos, enrojecimiento ocular y/o sarpullidos con erupción o urticaria.</p>
                </div>
            </div>
            <div class="medi">
                <img src="../assets/img/medicamento.png" alt="medicina" class="med_img">
                <div class="cont_p2">
                    <p class="titulo_e"><b>Dicloxacilina</b></p>
                    <p>La dicloxacilina es un antibiótico de la familia de los betalactámicos, es una penicilina resistente a penicilinasa.</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section class="container_f">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Compañía</h4>
                    <ul>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Servicios</a></li>
                        <li><a href="">Politica de privacidad</a></li>
                        <li><a href="">Afiliados</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="">Soporte</a></li>
                        <li><a href="">Estatus</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="redes">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <p class="pf">Derechos reservados 2023 | En desarrollo</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>